<div class="file-manager">
  <!-- File Manager Loading Overlay -->
  <div id="file-manager-loading" class="loading-overlay hidden">
    <div class="spinner"></div>
    <div class="loading-text">正在加载文件...</div>
  </div>

  <div class="split-pane">
    <div class="pane local-pane">
      <div class="pane-header">
        <span>本地文件</span>
        <div class="pane-actions">
          <button id="local-home" class="icon-button" title="主目录">
            <i data-lucide="house" data-size="12"></i>
          </button>
          <button id="local-refresh" class="icon-button" title="刷新">
            <i data-lucide="refresh-cw" data-size="12"></i>
          </button>
        </div>
      </div>
      <div class="path-bar">
        <input type="text" id="local-path" class="path-input" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false">
        <button id="browse-local" class="icon-button">
          <i data-lucide="folder-open" data-size="12"></i>
        </button>
      </div>
      <div class="file-list-container">
        <table class="file-list" id="local-files">
          <thead>
          <tr>
            <th>名称</th>
            <th>大小</th>
            <th>修改日期</th>
          </tr>
          </thead>
          <tbody>
          <!-- Files will be added dynamically -->
          </tbody>
        </table>
      </div>
    </div>

    <div class="pane-divider" id="pane-divider" title="拖动调整面板宽度"></div>

    <div class="pane remote-pane">
      <div class="pane-header">
        <span>远程文件</span>
        <div class="pane-actions">
          <button id="remote-home" class="icon-button" title="主目录">
            <i data-lucide="house" data-size="12"></i>
          </button>
          <button id="remote-refresh" class="icon-button" title="刷新">
            <i data-lucide="refresh-cw" data-size="12"></i>
          </button>
        </div>
      </div>
      <div class="path-bar">
        <input type="text" id="remote-path" class="path-input" value="/" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false">
        <button id="go-remote-path" class="icon-button">
          <i data-lucide="chevron-right" data-size="12"></i>
        </button>
      </div>
      <div class="file-list-container">
        <table class="file-list" id="remote-files">
          <thead>
          <tr>
            <th>名称</th>
            <th>大小</th>
            <th>修改日期</th>
            <th>所有者</th>
            <th>权限</th>
          </tr>
          </thead>
          <tbody>
          <!-- Files will be added dynamically -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="transfer-status">
    <div class="transfer-progress">
      <div class="progress-bar" id="transfer-progress-bar"></div>
    </div>
    <div class="transfer-info" id="transfer-info"></div>
  </div>
</div>
