<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
      <div class="app-logo">SSHL</div>
      <button id="toggle-sidebar" class="icon-button">
        <i data-lucide="chevron-left" data-size="16"></i>
      </button>
    </div>

    <button id="new-connection-btn" class="primary-button">
      <i data-lucide="plus" data-size="16"></i>
      <span>新建连接</span>
    </button>

    <div class="search-box">
      <input type="text" id="connection-search" placeholder="搜索连接...">
    </div>

    <div class="connection-list" id="connection-list">
      <% if (connections && connections.length > 0) { %>
        <% connections.forEach(function(connection) { %>
          <div class="connection-item" data-id="<%= connection.id %>">
            <div class="connection-status-indicator offline"></div>
            <div class="connection-name"><%= connection.name %></div>
            <div class="connection-actions">
              <button class="icon-button delete-connection" data-id="<%= connection.id %>">
                <i data-lucide="trash-2" data-size="12"></i>
              </button>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <div class="no-connections">没有保存的连接</div>
      <% } %>
    </div>
  </div>
